@font-face {
    font-family: 'Lexend-Regular';
    src: url('./public/assets/fonts/Lexend-Regular.woff') format('woff'),
         url('./public/assets/fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lexend-ExtraBold';
    src: url('./public/assets/fonts/Lexend-ExtraBold.woff') format('woff'),
         url('./public/assets/fonts/Lexend-ExtraBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  html{
    font-size: 16px;
  }

  body {
    font-family: 'Lexend-Regular', sans-serif !important;
  }

  .bold-font{
    font-family: 'Lexend-ExtraBold'!important; 
  }

  .custom-select { 
    appearance: none;
    background-image: url('data:image/svg+xml,%3Csvg fill=\'none\' stroke=\'%239ca3af\' viewBox=\'0 0 24 24\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'2\' d=\'M19 9l-7 7-7-7\'/%3E%3C/svg%3E'); 
    background-repeat: no-repeat; 
    background-position: right 1.5rem center; 
    background-size: 1.5rem;
  }

  .no-text::after{
    content: '';
  }

  .react-datepicker-wrapper{
    width: 100%;
    color: #C4C4C4;
    font-size: 1.5625rem;
  }